$location-color: #304269;
$route-banner-color: #91BED4;
$route-button: #F26101; 


.laneTwoMain{
    grid-column: 1/4;
    grid-row: 1/-1;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.laneOneMain{
    grid-column: 5/-1;
    grid-row: 1/-1;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.stagingArea{
    height: 80px;
    width: 100%;
    background-color: $location-color;
    border: 1px solid palegoldenrod;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.stagingNumber{
    grid-column: 1/2;
    grid-row: 1/-1;
    text-align: center;
    font-family: 'Poppins';
    background: none;
	color: inherit;
    border: none;
    color: white;
	padding: 0;
}

.laneOneStagingNumber{
    grid-column: 5/6;
    grid-row: 1/-1;
    text-align: center;
    font-family: 'Poppins';
    background: none;
    color: inherit;
    color: white;
	border: none;
	padding: 0;
}

.plannedRoutes{
    grid-column: 2/-1;
    grid-row: 1/2;
background-color:#91BED4;
}
.movedRoutes{
    grid-column: 2/-1;
    grid-row: 2/3;
    background-color: #D9E8F5;
}

.laneOnePlannedRoutes{
    grid-column: 1/-2;
    grid-row: 1/2;
    background-color:#91BED4;
}
.laneOneMovedRoutes{
    grid-column: 1/-2;
    grid-row: 2/3;
    background-color: #D9E8F5;
}